<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">

    <title>SANG CHOI</title>
</head>
<body>
    <h1 class="sangchoi1">SANG CHOI</h1>
    <div class="nav">
        <a class="nav1" href="/">HOME</a>
        <a class="nav1" href="/portfolio">PORTFOLIO</a>
        <a class="nav1" href="/profile">PROFILE</a>
        <a class="nav1" href="/resume">RESUME</a>
    </div>

    <div class="portfolionav">
        <a class="portfolionav1" href="https://sangchoi.github.io/project-one/" target="_blank">PROJECT 1</a>
        <a class="portfolionav1" href="https://infinite-ravine-17494.herokuapp.com/" target="_blank">PROJECT 2</a>
        <a class="portfolionav1" href="https://intense-basin-36132.herokuapp.com" target="_blank">PROJECT 3</a>
        </div>
    
</body>
</html>